<section id="noticias" class="padded">
  <div class="container">
    <h2>Noticias</h2>
    <h3 class="mb-3"><b>"¿Buscas algo nuevo y emocionante para probar en la ciudad? ¡Mira nuestras últimas reseñas!"</b></h3>
    <div class="row">
      <article class="col">
        <h3>Reseña 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt in cumque accusantium molestias cupiditate
          impedit deleniti voluptatibus porro dolorem et consequatur esse recusandae praesentium quis ipsum culpa
          inventore ut aliquid, doloremque numquam.</p>
        <p>Tenetur harum sit corrupti quasi, excepturi perferendis, maiores hic, velit odit similique neque molestias
          rem itaque sequi. Possimus distinctio id, fuga culpa magnam dolorum qui accusantium fugit deleniti commodi,
          nulla veritatis aspernatur.</p>
      </article>
      <article class="col">
        <h3>Reseña 2</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis rerum veniam sint recusandae laborum
          voluptate iusto perspiciatis natus, temporibus aspernatur et perferendis beatae. Sit voluptate ad ab
          exercitationem nihil porro alias voluptatem?</p>
        <p>Est ad dolorum perferendis aliquid doloribus quis nemo quidem similique obcaecati illum beatae quo
          consectetur dolorem soluta numquam fugiat nulla, tempore optio enim maiores ipsam nobis maxime ratione
          dignissimos? Maiores, eos corrupti?</p>
      </article>
      <article class="col">
        <h3>Reseña 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maxime quis voluptatibus a ratione.
          Laudantium neque sequi dolore incidunt minus, libero soluta possimus illo ipsam ut doloribus ducimus
          doloremque, autem reiciendis dolor.</p>
        <p>Provident, praesentium. Quas harum nostrum dolorum magnam quia officiis mollitia nihil dolorem inventore
          repellendus, tempora odit architecto molestiae cumque autem ipsa quod recusandae rerum dolore vel veritatis
          eaque repellat. Molestias, dolorum expedita.</p>
      </article>
    </div>
  </div>
</section>
