<section id="envios" class="padded">
  <div class="container">
    <h2>Envios</h2>
    <div class="row">

      <div class="col" *ngFor="let item of listaEnvios">
        <div class="card p-3">
          <h3>{{item.nombre}}</h3>
          <p>Número Telefónico: {{item.telefono}}</p>
          <h3>Descripción:</h3>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt sed consequuntur repellendus. Id modi velit
          alias maiores asperiores, similique ex ratione eos nisi magnam qui optio ipsam eum odit architecto!
        </div>
      </div>

    </div>
  </div>
</section>
