<section id="nosotros" class="padded">
  <div class="container">
    <h2>Sobre Nosotros</h2>
    <h3><b>"Somos un equipo apasionado por la comida y las experiencias gastronómicas únicas."</b></h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui debitis laudantium veniam assumenda. Voluptates
      libero voluptate perspiciatis quisquam optio facere minus voluptatibus fugit quos ipsam mollitia consectetur
      voluptatum eaque velit autem exercitationem accusantium, laboriosam sed, nemo ratione. Numquam dolor explicabo
      facere, quo natus cum velit fugiat ipsam minus accusantium aperiam maxime. At quia ut ad. In beatae nulla nisi ex
      deserunt numquam eum esse eaque adipisci? Dolorem iste consectetur quo possimus odio natus vel fuga numquam illo!
      Nemo dolores et facere animi, atque aspernatur. Tenetur perspiciatis quas culpa vero repellendus, harum deleniti
      natus quam necessitatibus quos dicta sapiente autem architecto excepturi adipisci laboriosam voluptates!
      Temporibus
      iusto doloremque ex culpa, ut in modi voluptatibus atque eum ipsum harum, aperiam sed itaque?</p>
  </div>
</section>
